
<div id="content">
    <h1 id="mainHeading"> Burger Time </h1>
        <div id="devoured">
            <h2>Ready to Eat</h2>
                {{#each burgers}}
                    {{#unless this.devoured}}
                            <p>{{this.burger_name}}</p>
                        <form action="/update/{{this.id}}" method="POST" id="updateForm">
                            <input id="eaterInput" name="consumer" placeholder="Consumer" maxlength="10" pattern=".{3,}"/>
                          <button class="devourButton" type="submit">Eat</button>
                          </form>
                            
                    {{/unless}}
                {{/each}}

        </div>
 
        <div id="notDevoured">
            <h2>Consumed</h2>
                {{#each burgers}}
                    {{#if this.devoured}}
                        <p> {{this.burger_name}} <small>(Consumed by: {{this.Customer.author_name}})</small> </p>
                        <a href="/delete/{{this.id}}"><button class="deleteButton">Delete</button></a>
                        <a href="/deleteConsumer/{{this.Customer.id}}"><button class="deleteButton">Delete By Consumer</button></a>
                                    
                    {{/if}}
                {{/each}}
        </div>


              <form action="/" method="POST" id="burgerForm">
        <input name="burgerInput" maxlength="25" pattern=".{3,}"  required title="3 characters minimum" placeholder="Add a burger"/>
        <button type="submit">Submit</button>
    </form>


 
</div>




